.level1-heading {
  padding: 30px 10px;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  background-color: #e25c00;
}

.level2-heading {
  padding: 30px 10px;
  font-size: 1.75em;
  color: #fff;
  text-align: center;
  background-color: #e25c00;
}